body {
  background: #d4d4d5;
  font-family: Roboto,sans-serif;
}
#content {
  max-width: 87%;
  margin-left: 33px;
  margin-top: 10px;
  min-height: 100%;
}
.ui.container {
  min-height: 100%;
}
.ui.menu {
  font-family: Roboto,sans-serif;
}

.ui.vertical.icon.menu .item>.icon:not(.dropdown) {
  font-size: 30px;
}

.check-restriction {
  text-decoration: line-through;
  color: #9e9e9e73;
}

.asc::after {
  content: '▲';
}

.desc::after {
  content: '▼';
}

.ui.table th:hover {
  cursor: pointer;
}

.ui.table tr {
  transition: 1s linear background;
}

.recently-updated {
  background: #e3ac27!important;
  font-weight: bold;
  transition: none;
}

footer {
  background: #fff;
  position: sticky;
  bottom: 0;
  z-index: 999;
  padding: 3px;
  height: 55px;
  width: 100%;
  text-align: center;
}

#footerLeft {
  margin: 7px;
  float: left;
}

#footerRight {
  float: right;
  margin: 15px;
}